*{
    width:100%;
}

.contact-us-form{
    display:inline-flex;
    /* width:100%; */

}

.side-img{
    height:470px ;
    width:300px
}


.label{
    /* display: inline;
   justify-content:space-evenly; */
   display:none;
}

.container{
    display:flex;
    
}

.container{
    display:flex;
    
}

.name{
    display:inline;
    margin-right:20px;
}

.txt{
    border-radius:25px;
    height:50px;
    /* border-color: rgb(166, 176, 186); */
    
}

.txt2{
    border-radius: 25px;
    height:250px;
    width:1050px;

}

.form{
    width:60%;
    margin:25px;

}

.btn{
    height: 40px;
    width:140px;
    background-color: greenyellow;
    color:black;

}
.btn:hover{
    color:white;
    background-color:  blue;
}